<!DOCTYPE HTML>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

    <style th:replace="/share/style"></style>

</head>
<body>
<header>
    <nav th:replace="/share/header/nav :: nav"></nav>
</header>

<section class="login-page">
    <h2>Załóż konto</h2>
    <form th:object="${user}" th:method="post" th:action="@{/register}">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" th:field="*{email}"/>
            <span class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                Categories Error
            </span>

            <div style="font-size: 15px" th:if="${message}" >
                <span class="alert-danger" th:text="${message}"></span>
            </div>

        </div>
        <div class="form-group">
            <input type="text" name="firstName" placeholder="First name" th:field="*{firstName}"/>
            <span class="alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                Categories Error
            </span>
        </div>
        <div class="form-group">
            <input type="text" name="lastName" placeholder="Last name" th:field="*{lastName}"/>
            <span class="alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                Categories Error
            </span>
        </div>

        <div class="form-group">
            <input type="password" name="password" placeholder="Hasło" th:field="*{password}"/>
            <span class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                Categories Error
            </span>
        </div>

        <div class="form-group form-group--buttons">
            <a href="/login" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>

<footer th:replace="/share/footer"></footer>
<script th:replace="/share/script"></script>
</body>
</html>
