<!DOCTYPE HTML>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <style th:replace="/share/style"></style>
    <meta http-equiv="refresh" content="3; url=login">
</head>

<body>
<header class="header--form-page">
<nav th:replace="/share/header/nav :: nav"></nav>

<div class="slogan container container--90">
    <h2>
        Twoje konto zostało zarejestrowane.
    </h2>

</div>
</header>

<footer th:replace="/share/footer"></footer>
<script th:replace="/share/script"></script>
</body>
</html>